{% extends 'client_header.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb-area bg-dark">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shop</li>
            </ul>
        </nav>
    </div>
</div>
<div class="shop-area ptb-80">
    <div class="container">
        <div class="row">
            <div class="order-xl-20 order-lg-20 col-xl-20 col-lg-20">
                <div class="shop-banner">
                    <img src="{% static 'client_assets/img/banner/19.jpg' %}" alt="" width="3000px">
                </div>
                <h1 class="page-title">Antique Room</h1>
<!--                <div class="ht-product-tab">-->
<!--                    <div class="nav" role="tablist">-->
<!--                        <a class="active" href="#grid" data-bs-toggle="tab" role="tab" aria-selected="true"-->
<!--                           aria-controls="grid"><i class="fa fa-th"></i></a>-->

<!--                    </div>-->
<!--                    <div class="shop-content-wrapper">-->
<!--                        <div class="shop-results"><span>Sort By</span>-->
<!--                            <select name="number" id="number">-->
<!--                                <option value="position">position</option>-->
<!--                                <option value="p-name">product name</option>-->
<!--                                <option value="p-price">price</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="ht-product-shop tab-content">
                    <div class="tab-pane active show fade text-center" id="grid" role="tabpanel">
                        <div class="row">
                            {% for p in pro %}
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="product-item">
                                    <div class="product-image-hover">
                                        <a href="/client/client_shopdetails/{{p.product_id}}">
                                            <img class="primary-image" src="{% static '/images/' %}{{p.product_image}}"
                                                 alt="{{p.product_image}}" height="200px" width="200px">
                                        </a>

                                    </div>
                                    <div class="product-text">
                                        <div class="p-rating">
                                            {% if count_rate >= 5.0 %}
                                            <div class="product-rating">
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                            </div>
                                            {% elif count_rate >= 4.0 %}
                                            <div class="product-rating">
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            {% elif count_rate >= 3.0 %}
                                            <div class="product-rating">
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            {% elif count_rate >= 2.0 %}
                                            <div class="product-rating">
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            {% else %}
                                            <div class="product-rating">
                                                <i class="fa fa-star color"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <h4>
                                            <a href="/client/client_shopdetails/{{p.product_id}}"><b>{{p.product_name}}</b></a>
                                        </h4>
                                        <div class="product-price"><span>{{p.product_price}} ₹</span></div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="tab-pane fade" id="list" role="tabpanel">
                        <div class="product-item">
                            <div class="product-image-hover">
                                <a href="product-details.html">
                                    <img class="primary-image" src="{% static 'client_assets/img/product/1.jpg' %}"
                                         alt="">
                                    <img class="hover-image" src="{% static 'client_assets/img/product/2.jpg' %}"
                                         alt="">
                                </a>
                                <div class="product-hover">
                                    <button><i class="icon icon-FullShoppingCart"></i></button>
                                    <a href="wishlist-2.html"><i class="icon icon-Heart"></i></a>
                                    <a href="wishlist-2.html"><i class="icon icon-Files"></i></a>
                                </div>
                            </div>
                            <div class="product-text">
                                <div class="product-rating">
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product-details.html">Joust Duffle Bag</a></h4>
                                <div class="product-price"><span>$34.00</span></div>
                                <p>The sporty Joust Duffle Bag can't be beat - not in the gym, not on the luggage
                                    carousel, not anywhere. Big enough to haul a basketball or soccer ball and some
                                    sneakers with plenty of room to spare, it's ideal for athletes with places to
                                    go.</p>
                                <a href="product-details.html">Learn More</a>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-image-hover">
                                <a href="product-details.html">
                                    <img class="primary-image" src="{% static 'client_assets/img/product/3.jpg' %}"
                                         alt="">
                                    <img class="hover-image" src="{% static 'client_assets/img/product/4.jpg' %}"
                                         alt="">
                                </a>
                                <div class="product-hover">
                                    <button><i class="icon icon-FullShoppingCart"></i></button>
                                    <a href="wishlist-2.html"><i class="icon icon-Heart"></i></a>
                                    <a href="wishlist-2.html"><i class="icon icon-Files"></i></a>
                                </div>
                            </div>
                            <div class="product-text">
                                <div class="product-rating">
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product-details.html">Strive Shoulder Pack</a></h4>
                                <div class="product-price"><span>$32.00</span></div>
                                <p>Our top-selling yoga prop, the 4-inch, high-quality Sprite Foam Yoga Brick is popular
                                    among yoga novices and studio professionals alike. An essential yoga accessory, the
                                    yoga brick is a critical tool for finding balance and alignment in many common yoga
                                    poses. Choose from 5 color options.</p>
                                <a href="product-details.html">Learn More</a>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-image-hover">
                                <a href="product-details.html">
                                    <img class="primary-image" src="{% static 'client_assets/img/product/5.jpg' %}"
                                         alt="">
                                    <img class="hover-image" src="{% static 'client_assets/img/product/6.jpg' %}"
                                         alt="">
                                </a>
                                <div class="product-hover">
                                    <button><i class="icon icon-FullShoppingCart"></i></button>
                                    <a href="wishlist-2.html"><i class="icon icon-Heart"></i></a>
                                    <a href="wishlist-2.html"><i class="icon icon-Files"></i></a>
                                </div>
                            </div>
                            <div class="product-text">
                                <div class="product-rating">
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star color"></i>
                                </div>
                                <h4><a href="product-details.html">Crown Summit Backpack</a></h4>
                                <div class="product-price"><span>$38.00</span></div>
                                <p>The Go-Get'r Pushup Grips safely provide the extra range of motion you need for a
                                    deep-dip routine targeting core, shoulder, chest and arm strength. Do fewer pushups
                                    using more energy, getting better results faster than the standard floor-level
                                    technique yield.</p>
                                <a href="product-details.html">Learn More</a>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-image-hover">
                                <a href="product-details.html">
                                    <img class="primary-image" src="{% static 'client_assets/img/product/7.jpg' %}"
                                         alt="">
                                    <img class="hover-image" src="{% static 'client_assets/img/product/8.jpg' %}"
                                         alt="">
                                </a>
                                <div class="product-hover">
                                    <button><i class="icon icon-FullShoppingCart"></i></button>
                                    <a href="wishlist-2.html"><i class="icon icon-Heart"></i></a>
                                    <a href="wishlist-2.html"><i class="icon icon-Files"></i></a>
                                </div>
                            </div>
                            <div class="product-text">
                                <div class="product-rating">
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product-details.html">Wayfarer Messenger Bag</a></h4>
                                <div class="product-price"><span>$40.00</span></div>
                                <p>One of the world's simplest and most portable exercise devices, a jump rope enables
                                    endless variations and fitness output. The Zing Jump Rope goes anywhere and can be
                                    used any time. It is adjustable in length and has contoured foam handles for a great
                                    grip.</p>
                                <a href="product-details.html">Learn More</a>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="product-image-hover">
                                <a href="product-details.html">
                                    <img class="primary-image" src="{% static 'client_assets/img/product/9.jpg' %}"
                                         alt="">
                                    <img class="hover-image" src="{% static 'client_assets/img/product/10.jpg' %}"
                                         alt="">
                                </a>
                                <div class="product-hover">
                                    <button><i class="icon icon-FullShoppingCart"></i></button>
                                    <a href="wishlist-2.html"><i class="icon icon-Heart"></i></a>
                                    <a href="wishlist-2.html"><i class="icon icon-Files"></i></a>
                                </div>
                            </div>
                            <div class="product-text">
                                <div class="product-rating">
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star color"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h4><a href="product-details.html">Rival Field Messenger</a></h4>
                                <div class="product-price">
                                    <span>$45.00</span>
                                    <span class="prev-price">$52.00</span>
                                </div>
                                <p>Make the most of your limited workout window with our Dual-Handle Cardio Ball. The
                                    15-lb ball maximizes the effort-impact to your abdominal, upper arm and lower-body
                                    muscles. It features a handle on each side for a firm, secure grip.</p>
                                <a href="product-details.html">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-wrapper">
                    <nav aria-label="navigation">
                        {% if pro.has_other_pages %}
                        <ul class="pagination align-items-center">
                            {% if pro.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ pro.previous_page_number }}">&laquo;</a>
                            </li>
                            {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in pro.paginator.page_range %}
                            {% if i.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                            <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if pro.has_next %}
                            <li><a class="page-link" href="?page={{ pro.next_page_number }}">&raquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                            </li>
                        </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}